/*general formatting*/

/* Log In / Sign up formatting*/

#login-header, #signup-header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    height: 50px;
    border-bottom: 2px solid black;
}

header #logo{
    grid-column: 1/2;
    justify-self: center;
}
header #page-name{
    grid-column: 2/3;
}
header #user-options{
    grid-column: 3/4;
    justify-self: end;
}

#container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 50px auto;
}

#centered-main{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

.form-input{
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
}
.form-input div{
    display: grid;
    row-gap: 15px;
    align-items: baseline;
}

.auth-form{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

.form-submit-button{
    justify-self: center;
}
.form-submit-button input[type="submit"]{
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 16px;
}

.form-note{
    display: grid;
    grid-template-columns: auto 30px auto;
    column-gap: 5px;
}
.form-note #sign-up{
    grid-column: 1/2;
    justify-self: baseline;
}
.form-note #forgot-pass{
    grid-column: 3/4;
    justify-self: end;
}
.form-note #log-in{
    grid-column: 1/3;
    justify-self: baseline;
}





/*dashboard formatting*/
#dashboard-container{
    display: grid;
    grid-template-rows: 50px auto;
    /*50 px header, the rest is body*/

    min-height: 100vh;
}

#dashboard-body{
    display: grid;
    grid-template-columns: 1fr max-content 5fr max-content 1fr;
    grid-template-rows: max-content 1fr;
}

#dashboard-games-title{
    grid-column: 2/3;
    grid-row: 1/2;
}

#dashboard-my-account{
    grid-column: 4/5;
    grid-row: 1/2;
}

#dashboard-games-display{
    grid-column: 2/5;
    grid-row: 2/3;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 16px;
}

.thumbnail{
    max-width: 100%;
    aspect-ratio: 16/9; /*calc height from this aspect ratio*/
    border-radius: 12px;
    overflow: hidden;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}