/*general formatting*/

body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(102, 102, 102);
}

/*a global grid so header is the same across pages*/
#global-formatting{
    display: grid;
    grid-template-rows: 50px 1fr;
    /*50 px header, the rest is body*/

    min-height: 100vh;
}

header{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: rgb(151, 151, 151);
}

header #logo{
    grid-column: 1/2;
    justify-self: center;
}
header #page-name{
    grid-column: 2/3;
    justify-self: center;
}
header #user-options{
    grid-column: 3/4;
    justify-self: center;
}

/* Log In / Sign up formatting*/

/* #login-header, #signup-header{
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    border-bottom: 2px solid black;
} */


#container{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    /* grid-template-rows: 100px auto;
    min-height: 100vh; */
}

#centered-main{
    grid-column: 2/3;
    grid-row: 2/3;
    justify-self: center;
}

.form-title{
    text-align: center;
    margin-bottom: 20px;
}

.form-input{
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
}
.form-input div{
    display: grid;
    row-gap: 15px;
    align-items: baseline;
}

.auth-form{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}

.form-submit-button{
    justify-self: center;
}
.form-submit-button input[type="submit"]{
    padding: 5px 10px;
    margin: 10px 0px;
    font-size: 16px;
}

.form-note{
    display: grid;
    grid-template-columns: auto 30px auto;
    column-gap: 5px;
}
.form-note #sign-up{
    grid-column: 1/2;
    justify-self: baseline;
}
.form-note #forgot-pass{
    grid-column: 3/4;
    justify-self: end;
}
.form-note #log-in{
    grid-column: 1/3;
    justify-self: baseline;
}





/*dashboard formatting*/
/* #dashboard-container{
    
} */

#dashboard-body{
    display: grid;
    grid-template-columns: 1fr max-content 3fr max-content 1fr;
    grid-template-rows: max-content 6fr 1fr;

    max-height: calc(100vh - 52px);
    /*100vh - 52 from header and border*/
}

#dashboard-games-title{
    grid-column: 2/3;
    grid-row: 1/2;
}

#dashboard-my-account{
    grid-column: 4/5;
    grid-row: 1/2;
}

#dashboard-games-display{
    grid-column: 2/5;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;

    border: 2px solid black;
    border-radius: 10px;
    
    overflow-y: auto;
    max-height: 100%;
}

.thumbnail{
    max-width: 100%;
    aspect-ratio: 16/9; /*calc height from this aspect ratio*/
    border-radius: 12px;
    overflow: hidden;
}

.thumbnail img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}